/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Ensure video stays behind content */
    overflow: hidden;
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the entire background */
}


/* Center the profile container and set a max width */
.profile-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
    
}

.cover-photo {

    overflow: hidden;
    position: relative;
}

/* Style the cover photo to cover the full width and set height */
.cover-photo img {
    width: 100%;
    height: auto;
    color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    backdrop-filter: blur(50px);
    border: 2px solid white;
    box-shadow: 0 0 20px black;
}

/* Style the profile info section */
.profile-info {
    position: relative;
    margin-top: -80px; /* Adjust to control overlap */
    padding-bottom: 10px; /* Ensure there is space below for name and bio */
}


/* Style the profile picture to be circular with a white border */
.profile-picture img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 10px solid #fff;
}

/* Add margin to the left of user details */
.user-details {
    margin-top: 20px;
    color: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 0 20px black;

}

/* Style the user name */
.user-name {
    font-size: 30px;
    font-weight: bold;
    color: #fff;

}

/* Style the user bio */
.user-bio {
    font-size: 16px;
    color: #666;
}

/* Style the about section */
.profile-section {
    color: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    backdrop-filter: blur(10px);
    border: 2px solid white;
    box-shadow: 0 0 20px black;
}

/* Style the section headers */
.profile-section h2 {
  
    font-size: 25px;
    margin-bottom: 10px;
   
}

/* Style the details in the profile section */
.profile-section .user-details {
    font-size: 16px;
    margin-bottom: 5px;
}


